<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <form action="{{ url_for('logout') }}" method="POST" class="w-full">
        <button class="block w-full bg-blue-600 hover:bg-blue-500 text-white h-10 rounded-lg">Logout</button>
    </form>

    <h1>Profile</h1>
</body>
</html>