DirectoryIndex index.php

# Enable apache rewrite module
RewriteEngine On

# Set the rewrite base
RewriteBase /

# Deliver the file or directory if it exists
RewriteCond %{REQUEST_URI}  !-f
RewriteCond %{REQUEST_URI}  !-d

# Send the request to index.php
RewriteRule ^(.*)$ index.php [QSA,L]