{% extends "layout/app.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="relative flex flex-col items-top justify-center min-h-screen  sm:items-center py-4 sm:pt-0">
        <div class="bg-slate-100 dark:bg-slate-800 border border-slate-300 dark:border-slate-700 h-60 w-96 rounded-lg text-center shadow-lg flex flex-col justify-center items-center">
            <h1 class="text-slate-900 dark:text-slate-100 text-xl font-bold mb-4">Core</h1>
            <p class="text-slate-600 dark:text-slate-300 mb-2">Simple PHP MVC Framework.</p>
            <a class="text-blue-400 font-bold" href="https://github.com/deondazy/core/">View on GitHub</a>
            
            <div class="flex mt-5 gap-2">
                <a href="{{ url_for('register') }}" class="px-4 py-2 text-sm bg-blue-600 hover:bg-blue-500 text-white rounded-md whitespace-nowrap">Sign Up</a>
                <a href="{{ url_for('login') }}" class="px-4 py-2 text-sm bg-slate-600 hover:bg-slate-500 text-white rounded-md whitespace-nowrap">Sign In</a>
            </div>
            <div>{{ home }}</div>
        </div>
        <div class="mt-2 text-right text-sm text-slate-600 dark:text-slate-300 sm:text-right sm:ml-0 font-bold">
            Core v1.0.0 <span class="ml-2">(PHP v8.1)</span>
        </div>
    </div>
{% endblock %}